{
	"extends": [
		"eslint:recommended",
		"plugin:react/recommended"
	],
	"plugins": ["jest", "@typescript-eslint"],
	"env": {
		"node": true,
		"browser": true,
		"jest/globals": true
	},
	"rules": {
		"react/react-in-jsx-scope": "off",
		"indent": ["error", "tab"],
		"no-unused-vars": "off",
		"@typescript-eslint/no-unused-vars": ["warn"],
		"quotes": "error"
	},
	"parser": "@typescript-eslint/parser",
	"ignorePatterns": "src/graphql/types.ts"
}