:root{
	--primary: #97DFFC;
	--secondary: #2C0735;
	--purple: #470B56;
	--alt: #C3C6F2;
	--grey: #A2A2A2;
	--bgOpacity: hsla(288, 77%, 12%, 0.62);
	--gradient: linear-gradient(to right, var(--primary) 10%, var(--alt) 90%);
	--coloredShadow: rgba(195, 198, 242, 0.295);
	--red: #C94848;
}
html,
body {
	min-height: 100%;	
	padding: 0;
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
	Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
	
	color: var(--secondary);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark){
	:root{
		--gradient: linear-gradient(to right, var(--secondary) 10%, var(--purple) 90%);
	}
	body{
		background: var(--secondary);
		color: var(--alt);
	}
}