.hero{
	padding: 4rem 0;
	max-width: 1200px;
	width: 100%;
	overflow: visible;

	margin: 0 auto 2rem auto;
	background-image: url("../images/langs.png");
	background-size: contain;
	background-repeat: repeat-x;
	background-position: left center;
}
.hero h1{
	line-height: 100%;
	margin-bottom: 0;
}
.hero p{
	margin-top: 10px;
}
.streams{
	max-width: 1200px;
	width: 100%;
	margin: auto;
}
.list{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;

	list-style: none;
	padding: 0;
	padding-bottom: 4rem;
	margin: 0;
}

@media only screen and (max-width: 590px){
	.hero{
		padding: 1rem 0;
	}
}

@media only screen and (max-width: 905px){
	.list{
		justify-content: center;
	}
}