

.wrapper{
	display: flex;
	flex-direction: column;
}
.label{
	margin-bottom: 5px;
	color: var(--purple);
	font-weight: bold;
	font-size: .8rem;
}
.select{
	box-sizing: border-box;
	margin: 0;
	appearance: none;
	padding: .4rem;
	padding-right: calc(.4rem + 1rem);
	font-size: .9rem;
	border: 1px solid var(--purple);

	background-image: url(/chevron-down.svg);
	background-position: calc(100% - 10px) center;
	background-size: .8rem;
	background-repeat: no-repeat;
}

@media (prefers-color-scheme: dark){
	.select{
		background-color: var(--purple);
		background-image: url(/chevron-down-light.svg);
		color: var(--alt);
	}
}