.hero{
	padding: 4rem 0;
	max-width: 1200px;

	margin: auto;
}
.streams{
	max-width: 1200px;
	margin: auto;
}
.list{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;

	list-style: none;
	padding: 0;
	margin: 0;
}