.hero{
	padding: 4rem 0;
	max-width: 1200px;

	margin: auto;
}
.streams{
	max-width: 1200px;
	margin: auto;
}
.list{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;

	list-style: none;
	padding: 0;
	margin: 0;
}
.stream{
	position: relative;
	max-width: 336px;
	background: var(--gradient);
	border-radius: 4px;
	box-shadow: 4px 10px 5px var(--coloredShadow);

	margin-bottom: 2rem;
}
.stream .viewers{
	position: absolute;
	background: var(--gradient);
	color: var(--red);
	padding: 5px 10px;
	font-weight: bold;
	display: flex;
	align-items: center;

	top: 10px;
	left: 10px;
}
.stream .viewers .icon{
	height: 1rem;
	margin-right: 5px;
}
.stream .content{
	box-sizing: border-box;
	padding: .5rem;
	height: calc(100% - (189px + .5rem));
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	gap: 1rem;
}
.stream .title{
	font-weight: bold;
	text-overflow: ellipsis;
	grid-area: title;
}
.stream .content .user{
	color: var(--purple);

	display: flex;
	align-items: center;
}
.stream .content .user .icon{
	height: 1rem;
	margin-right: 5px;
}